@use '../../App';

$medium-screen-width: 700px;
$small-screen-width: 400px;

.button {
}

.site-header-link {
    text-decoration: none;
}

.site-header {
    color: App.$text-black;
    font-family: App.$montserrat;
    font-weight: App.$font-semibold;
    font-size: 2.5em;
    margin-left: 0.2em;

    @media screen and (max-width: $medium-screen-width) {
        font-size: 1em;
    }
}

.heading-bar {
    background-color: App.$background-white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.heading-bar-flex-item {
    display: flex;
    align-items: center;
}

.heading-bar-nav-item {
    margin: 0.5em;
    margin-right: 2em;
}

.heading-bar-logo-item {
    margin: 0.5em;
    margin-left: 1.5em;
    margin-top: 1em;
    margin-right: 0;
}

.heading-button {
    border: none;
    background: none;
    font-family: App.$montserrat;
    font-weight: App.$font-regular;
    font-size: 1.2em;

    .button-link {
        text-decoration: none;
    }

    .login-button-text {
        color: App.$text-black;
    }

    .signup-button-text {
        color: App.$background-white;
        padding: 0.25em;
        width: auto;
    }

    @media screen and (max-width: $medium-screen-width) {
    }
}

.signup-button {
    background: #333333;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    &:hover {
        background: App.$primary;
    }
}

.signup-button-text {
    &:hover {
        color: App.$text-black;
    }
}

.login-button-text {
    &:hover {
        color: App.$p_dark;
    }
}
