@use '../../App';

.dashboard {
    background: App.$background-white;
    box-shadow: 3px 3px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 1em;
}

.dashboard-header {
    background-color: App.$background-white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.dashboard-title {
    font-family: App.$montserrat;
    font-weight: App.$font-semibold;
    font-size: 2em;
    margin-left: 1em;
}

.dashboard-icons-container {
    display: flex;
    flex-direction: row;
}

.icon-add-edit {
    height: 2em;
    margin: 1em;
}

.card-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
