// Google fonts
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap);

$primary: #a5d6a7;
$p_light: #d7ffd9;
$p_dark: #75a478;
$secondary: #81d4fa;
$s_light: #b6ffff;
$s_dark: #4ba3c7;
$error: #b00020;
$background-white: #ffffff;
$text-black: #000000;
$montserrat: 'Montserrat', sans-serif;
$font-light: 300;
$font-regular: 400;
$font-semibold: 600;

html,
body {
    height: 100%;
    overflow: auto;
}

.App {
    width: 100%;
    background-color: $background-white;
    overflow: hidden;
    overflow-x: hidden;
}
