@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

/*
:root {
  --primary: #80cbc4;
  --p_light: #b2fef7;
  --p_dark: #4f9a94;
  --secondary:#90caf9;
  --s_light:#c3fdff;
  --s_dark:#5d99c6;
  --s_transparent: #90caf950;
}
*/

html, body {
  height: 100%;
  overflow: auto;
}

body {
  background: 
    linear-gradient(#90caf950,#90caf950),
    url('./img/grocery-shelves-with-food.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
}
